<div class="mailTop" style="position: relative; background-color: #cccccc; border-top: 1px solid #e7e7e7; width: 100%; height: 90px;">
	<p style="font-size: 30px; color: #939393; line-height: 1; padding: 0 10px;">[공통] Email Header 영역</p>
</div>